# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
build-DESKTOP-NH7K2N9.gradle
gradle-DESKTOP-NH7K2N9.properties
gradlew-DESKTOP-NH7K2N9
gradlew-DESKTOP-NH7K2N9.bat
hs_err_pid31588.log
src/generated/resources/.cache/*
run-data/*
run-data/config/fml.toml
run-data/logs/debug-1.log.gz
run-data/logs/debug-2.log.gz
run-data/logs/debug-3.log.gz
run-data/logs/debug-4.log.gz
run-data/logs/debug-5.log.gz
run-data/logs/debug.log
run-data/logs/latest.log
src/generated/resources/.cache/9fb1092f32d4fcbf9e061ffd718d4ec689c6c95e
src/generated/resources/.cache/c622617f6fabf890a00b9275cd5f643584a8a2c8
src/generated/resources/.cache/f69ccd7346a3e7ba813317ec623a1a5d1e580c64
